*{
    font-family: sans-serif;
}
#header{
    font-size: 40px;
    text-align: center;
    padding: 20px;
}
form{
    position: relative;
    text-align: center;
    padding: 5px;
}
#inputDiv{
    width: 100%;
}
#input{
    position: relative;
display: inline-block;
width: 203px;
height: 23px;
margin: 6px;
border-radius: 3px;
border: 1px solid grey;
}
#select{
    display: inline-block;
    font-size: 20px;
    background-color: white;
    border: none;
    cursor: pointer;
}
button{
    display: inline-block;
    background-color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
#button{
    display: inline-block;
}
#searchTerm{
    font-size:  30px;
    text-align: center;
    padding: 60px;
}
.result{
    padding: 20px;
    width: 100%;
}
#name{
    display: inline-block;
    height: 500px;
    width: 500px;
    text-align: center;
}

img{
    width: 500px;
    display: inline-block;
    vertical-align: top;
}
#Container{
    font-size: 30px;

}
a{
    text-decoration: none;
    color: black;
}
#button2{
    text-align: center;
}
.invisible{
    display: none;
}
